  .description {
    max-width: rem(600px);
    margin: auto;
  
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: rem(45px);
      height: rem(2px);
      margin-top: var(--mantine-spacing-sm);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .grid {
    display: flex; 
  }

  .filter {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin:  5.125vmax 0vmax 4vmax 0vmax;
  }

  .sort {
    align-items: right;
    display: flex;
    justify-content: flex-end;
    margin:  0vmax 0vmax 4vmax 0vmax;
  }