.navbar {
  height: 56.25vmax;
  /* width: rem(300px); */
  /* padding: var(--mantine-spacing-md); */
  display: flex;
  flex-direction: column;
  background-color: #F2EBF9;
}

.navbarMain {
  flex: 1;
}

.transform {
  transform: rotate(180deg);
}

.icon {
  height: 2vmax;
  width: 2vmax;
  position: relative;
  display: flex;
  justify-content: center;
}

.icon1 {
  position: absolute;
}

.icon2 {
  position: absolute;
  transform: rotate(90deg);
  bottom: 0.75vmax;
  left: 1.07vmax;
}

.icon3 {
  position: absolute;
  transform: rotate(270deg);
  bottom: -0.75vmax;
  left: 1.07vmax;
}

.icon4 {
  position: absolute;
  transform: rotate(180deg);
  left: 1.9vmax;
}

.icontext {
  display: flex;
  font-size: 1.5vmax;
  align-items: center;
  font-weight: 600;
  font-family: 'Poppins';
  color: #9854F6
}

.header {
  margin:  1vmax 1vmax 2vmax;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1vmax;
  color: #000000;
  padding: 0.625vmax;
  border-radius: 0.5vmax;
  font-weight: 600;
  margin:  0.5vmax 1vmax 0.5vmax 1vmax;
  font-family: 'PoppinsL';

  &:hover {
    background-color: rgb(229, 213, 250);
    color: #000000;
  }

  &[data-active] {
    &,
    &:hover {
      font-family: 'Poppins';
      background-color: rgb(229, 213, 250);
      color: rgb(140, 93, 233);
    }
  }
}

