.navbar {
  height: 900px;
  /* width: rem(300px); */
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 236, 250);
}

.navbarMain {
  flex: 1;
}

.icon {
  display: flex;
  margin:  1vmax 1vmax 2vmax;
}

.icontext {
  display: flex;
  font-size: 1.5vmax;
  align-items: center;
  /* valign-items: center; */
}

.header {
  margin:  1vmax 1vmax 2vmax;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1vmax;
  color: rgb(0, 0, 0);
  padding: 0.6vmax;
  border-radius: 0.3vmax;
  font-weight: 600;
  margin:  0.5vmax 1vmax 0.5vmax 1vmax;

  &:hover {
    background-color: rgb(229, 213, 250);
    color: rgb(0, 0, 0);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: rgb(229, 213, 250);
      color: rgb(140, 93, 233);
    }
  }
}

