.navbar {
  height: 900px;
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 236, 250);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid var(--mantine-color-blue-7);
}

/* .footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid var(--mantine-color-blue-7);
} */

/* .version {
  background-color: var(--mantine-color-blue-7);
  color: var(--mantine-color-white);
} */

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
  margin: 15px;

  &:hover {
    background-color: rgb(229, 213, 250);
    color: rgb(0, 0, 0);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: rgb(229, 213, 250);
      color: rgb(140, 93, 233);
    }
  }
}

