* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0px
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
      url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PoppinsL';
    src: local('Poppins'),
      url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;
}

.App { 
    width:  92.5vmax;
}

.Nav {
    width: 19%;
}

.Main {
    width: 81%;
    /* display: flex; */
    /* justify-content: center; */
    margin:  2vmax 2vmax 2vmax 2vmax;
}

.screen {
    display: flex;
    justify-content: space-between;
    /* align-items: top; */
    background-color: #6a6af5;
}
