* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0px
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
      url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PoppinsL';
    src: local('Poppins'),
      url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: local('Poppins'),
      url('../fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter400';
    src: local('Poppins'),
      url('../fonts/Inter/static/Inter-Light.ttf') format('truetype');
    font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;
}

.App { 
    width:  90vmax;
    height: 173.875vmax;
}

.Nav {
    width: 17.5vmax;
    /* height: 1165.25vmax; */
}

.Main {
    /* width: 81%; */
    /* display: flex; */
    /* justify-content: center; */
    margin:  2.5vmax 5.125vmax 5.625vmax 5.125vmax;
}

.screen {
    display: flex;
    justify-content: stretch;
    /* align-items: top; */
    background-color: #E5E5E5;
}
